In [ ]:
import numpy as np
import pandas as pd

In [ ]:
path='/content/makeSenseOfCensus.csv'
file_csv=pd.read_csv('/content/makeSenseOfCensus.csv')

In [ ]:
file_csv.head()

,age,education-num,race,sex,capital-gain,capital-loss,hours-per-week,income
0,39,13,4,1,2174,0,40,0
1,50,13,4,1,0,0,13,0
2,38,9,4,1,0,0,40,0
3,53,7,2,1,0,0,40,0
4,28,13,2,0,0,0,40,0

In [ ]:
data= np.genfromtxt(path,delimiter=',',skip_header=1)
data

array([[39., 13.,  4., ...,  0., 40.,  0.],
       [50., 13.,  4., ...,  0., 13.,  0.],
       [38.,  9.,  4., ...,  0., 40.,  0.],
       ...,
       [48., 13.,  4., ...,  0., 58.,  1.],
       [40., 10.,  4., ...,  0., 40.,  0.],
       [39., 13.,  4., ...,  0., 50.,  1.]])

In [ ]:
age=data[:,0]

In [2]:
import numpy as np
import pandas as pd

In [4]:
path='/content/KAG_Conversion_Data.csv'
da=pd.read_csv(path)
da.head

<bound method NDFrame.head of         ad_id  xyz_campaign_id  fb_campaign_id    age gender  interest  \
0      708746              916          103916  30-34      M        15
1      708749              916          103917  30-34      M        16
2      708771              916          103920  30-34      M        20
3      708815              916          103928  30-34      M        28
4      708818              916          103928  30-34      M        28
...       ...              ...             ...    ...    ...       ...
1138  1314410             1178          179977  45-49      F       109
1139  1314411             1178          179978  45-49      F       110
1140  1314412             1178          179979  45-49      F       111
1141  1314414             1178          179981  45-49      F       113
1142  1314415             1178          179982  45-49      F       114

      Impressions  Clicks       Spent  Total_Conversion  Approved_Conversion
0            7350       1    1.430000                 2                    1
1           17861       2    1.820000                 2                    0
2             693       0    0.000000                 1                    0
3            4259       1    1.250000                 1                    0
4            4133       1    1.290000                 1                    1
...           ...     ...         ...               ...                  ...
1138      1129773     252  358.189997                13                    2
1139       637549     120  173.880003                 3                    0
1140       151531      28   40.289999                 2                    0
1141       790253     135  198.710001                 8                    2
1142       513161     114  165.609999                 5                    2

[1143 rows x 11 columns]>

In [36]:
data=np.genfromtxt(path,delimiter=',',skip_header=1)
data1=np.genfromtxt(path,delimiter=',',skip_header=1,dtype=str)
print (da)

        ad_id  xyz_campaign_id  fb_campaign_id    age gender  interest  \
0      708746              916          103916  30-34      M        15
1      708749              916          103917  30-34      M        16
2      708771              916          103920  30-34      M        20
3      708815              916          103928  30-34      M        28
4      708818              916          103928  30-34      M        28
...       ...              ...             ...    ...    ...       ...
1138  1314410             1178          179977  45-49      F       109
1139  1314411             1178          179978  45-49      F       110
1140  1314412             1178          179979  45-49      F       111
1141  1314414             1178          179981  45-49      F       113
1142  1314415             1178          179982  45-49      F       114

      Impressions  Clicks       Spent  Total_Conversion  Approved_Conversion
0            7350       1    1.430000                 2                    1
1           17861       2    1.820000                 2                    0
2             693       0    0.000000                 1                    0
3            4259       1    1.250000                 1                    0
4            4133       1    1.290000                 1                    1
...           ...     ...         ...               ...                  ...
1138      1129773     252  358.189997                13                    2
1139       637549     120  173.880003                 3                    0
1140       151531      28   40.289999                 2                    0
1141       790253     135  198.710001                 8                    2
1142       513161     114  165.609999                 5                    2

[1143 rows x 11 columns]

In [16]:
ids=data[:,1]
uniqueids=np.unique([ids])
print(" Unique ad campaign ids are",uniqueids)
x=np.unique(ids,return_counts=True)
print("Ids occurence count",x)

 Unique ad campaign ids are [ 916.  936. 1178.]
Ids occurence count (array([ 916.,  936., 1178.]), array([ 54, 464, 625]))

In [38]:
age=data1[:,3]
agegroups=np.unique([age])
print (age)
print("The age groups targeted for campaign are",agegroups)

['30-34' '30-34' '30-34' ... '45-49' '45-49' '45-49']
The age groups targeted for campaign are ['30-34' '35-39' '40-44' '45-49']

In [30]:
amountspent=data[:,8]
maxamount=amountspent.max()
print("The maximum amount spent is",maxamount)
minamount=amountspent.min()
print("The minimum amount spent is",minamount)
avgamount=amountspent.mean()
print("The average amount spent is",avgamount)

The maximum amount spent is 639.9499981
The minimum amount spent is 0.0
The average amount spent is 51.36065613141295

In [35]:
clicks=data[:,7]
ids=data[:,0]
maxclicks=clicks.max()
print(maxclicks)
x=(clicks==maxclicks)
Id=ids[x]
print('The ID having max number of Ads is',Id)

421.0
The ID having max number of Ads is [1121814.]

In [41]:
revenue=data[:,10]
clicks=data[:,7]
maxclicks=clicks.max()
y=(clicks==maxclicks)
r=revenue[y]
print('Number of people who bought after most clicks',r)\

Number of people who bought after most clicks [13.]

In [44]:
print('Maximum revenue is',revenue.max())
z=(revenue==revenue.max())
details=data[z]
print('Details of the product with maximum revenue is',details)

Maximum revenue is 21.0
Details of the product with maximum revenue is [[1.12110400e+06 1.17800000e+03 1.44533000e+05            nan
             nan 1.60000000e+01 2.08066600e+06 2.02000000e+02
  3.60150001e+02 4.00000000e+01 2.10000000e+01]]